  .content-nav {
    width:95%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    h2 {
      color: #787878;
      padding-bottom: 20px;
      i {
        color:#787878;
      }
    }
  }
  .add-article {
    width: 95%;
    margin: 50px auto 0;
    .submit {
      width: 50%;
      margin-left: 25%;
    }
    .input {
      width:30%;
    }
  }