.content-nav {
  width: 95%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
}
.content-nav h2 {
  color: #787878;
  padding-bottom: 20px;
}
.content-nav h2 i {
  color: #787878;
}
.add-article {
  width: 95%;
  margin: 50px auto 0;
}
.add-article .submit {
  width: 50%;
  margin-left: 25%;
}
.add-article .input {
  width: 30%;
}
.table {
  width: 95%;
  margin: 0 auto;
}
