.login {
  width: 500px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.login:after {
  content: '';
  display: block;
  clear: both;
}
.login h3 {
  font-size: 36px;
  color: #20a0ff;
  margin-bottom: 50px;
  text-align: center;
}
.login h3 span {
  width: 50px;
  display: inline-block;
}
.login li {
  margin: 20px 0;
}
.login .click {
  width: 100%;
}
.login .click span {
  width: 50px;
  display: inline-block;
}
.login .forget-btn {
  width: 100%;
  margin: 20px 0;
}
.login .forget button {
  float: right;
}
.login .link {
  float: right;
}
.login .sign {
  width: 100%;
  position: relative;
}
.login .sign a {
  float: right;
  font-size: 16px;
  color: #20a0ff;
  padding: 10px 0;
  letter-spacing: 5px;
}
.login .sign:after {
  content: '';
  display: block;
  clear: both;
}
.login .signin .vcode-content {
  width: 50%;
  float: right;
}
.login .signin .vcode-img {
  float: right;
  margin-left: 20px;
}
.login .footer {
  margin: 20px 0;
  text-align: center;
  width: 100%;
}
